.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.btnChange {
  background-color: white;
  color: black;
}

.btnChange:focus {
  background-color: chartreuse;
  color: black;
}
